@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,700&display=swap');

* {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: rgb(148, 173, 182);
}

/* navbar_section */
.nav_section .navbar-brand {
    font-size: 35px;
}

.nav_section .navbar-brand span {
    color: rgb(17, 92, 36);
}

.nav_section .navbar-nav li {
    margin: 0px 15px;
}

.nav_section .navbar-nav li a {
    color: rgb(41, 31, 31) !important;
    font-size: 30px;
}

.nav_section .navbar-nav .nav-link::before {
    background-color: #fff;
    position: absolute;
    content: '';
    height: 0px;
    width: 0px;
    transition: 0.3s;
    bottom: 8px;
}

.nav_section .navbar-nav .nav-link:hover::before {
    position: absolute;
    content: '';
    background-color: #fff;
    width: 40px;
    height: 2.5px;
}

/* home section */

.banner {
    background: url("./assets/Four-Seasons-Hotel-George-V-Paris.png") no-repeat;
    background-size: cover;
    background-position: center;
    padding: 150px 80px;
    width: 100%;
    height: 100%;
    margin-top: -0.2em;
    line-height: 30px;
}

.text-area {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    padding: 30px 50px 0px 50px;
}


/* about */
.about-us {
    padding: 60px 10px;
    line-height: 40px;
    background: url(./assets/pizza7.png) no-repeat;
    color: rgb(34, 32, 32);
    font-weight: 600;
    font-size: 30px;
}

/* menu */
#menu {
    padding: 25px;
}

/* order */
#orders {
    border-radius: 50px;
}


/* page footer */
.page-footer {
    font-size: 30px;
    width: 100%;
}





/* footer */
.footer-copyright {
    font-size: 20px;
    font-family: fantasy;
    font-style: italic;
    margin-top: 60px;
}

/* scroll button */
#myBtn {
    display: block;
    position: fixed;
    bottom: 15px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(53, 37, 37);
    color: rgb(224, 189, 189);
    cursor: pointer;
    padding: 15px;
    border-radius: 32px;
    font-size: 12px;
}

#myBtn:hover {
    background-color: rgb(105, 87, 189);
}

.pay {
    display: none;
}

.response {
    display: none;
}

.location {
    display: none;
}

.checkout {
    display: none;
}

.pickup {
    display: none;
}